#title
{
    background:rgba(13, 216, 148, 0.61);
    padding-left:10px;
    padding-right:10px;
}
#AlignCenter
{
    width:750px;
    height:1000px;
    margin:0 auto;
    font-family:"Microsoft Yahei";
    background-color:#95e3eab4;
    padding-right:10px;
    padding-left:10px;
}
.Finished
{
    color:green;
    font-weight:bold;
}
.HeadButton
{
    border-radius: 10px;
    background-color: cornflowerblue;
    border-color:#69c8cf;
    color:white;
    width:200px;
    font-size:2em;
    height:50px;
}
li
{
    font-size:1.5em;
    line-height:1.7em;
}
.FinishButton
{
    border-radius: 10px;
    border-color: aqua;
    height:35px;
    width:55px;
    color:white;
    background: #1d98eb;
}
.DeleteButton
{
    border-radius: 10px;
    border-color:#d8b927;
    height:35px;
    width:55px;
    color:white;
    background: #f03203;
}
input:disabled
{
    border-color: grey;
    background: grey;
}