*
{
    outline: none;
}
#title
{
    background:rgba(13, 216, 148, 0.61);
    padding-left:10px;
    padding-right:10px;
    color:#ff7b00;
}
#AlignCenter
{
    width:750px;
    height:1000px;
    margin:0 auto;
    font-family:"Microsoft Yahei";
    background-color:rgba(150,227,234,0.7);
    padding-right:10px;
    padding-left:10px;
}
.Finished
{
    color:green;
    font-weight:bold;
    text-decoration:underline;
}
.HeadButton
{
    border-radius: 10px;
    border:0;
    background-color: cornflowerblue;
    color:white;
    width:200px;
    font-size:2em;
    height:50px;
}
.HeadButton:active
{
    background-color: rgb(39,47,188);
}
li
{
    font-size:1.2em;
    line-height:2em;
}
.FinishButton
{
    border-radius: 10px;
    border:0;
    height:35px;
    width:55px;
    color:white;
    background: #1d98eb;
    position: relative;
}
.DeleteButton
{
    border-radius: 10px;
    border:0;
    height:35px;
    width:55px;
    color:white;
    background: #f03203;
    position: relative;
    right:5px;
}
.FinishButton:active
{
    background:#66ffcc;
    color:black;
}
.DeleteButton:active
{
    background: #ffff00;
    color:black;
}
blockquote
{
    font-family:"Microsoft Yahei";
    font-weight:bold;
}
.AddTextArea
{
    margin-top:1em;
    border-radius: 10px;
    resize: none;
    height:20px;
    width:400px;
    text-align:left;
    height:2.5em;
    font-family:"Microsoft Yahei";
}